<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MelodyGuess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/guess.css') }}">
    <script src="static/scripts/scripts.js"></script>
    <audio id="audioPlayer"></audio>
</head>
<body>
    <header>
        <!-- Оборачиваем логотип в ссылку -->
        <a href="{{ url_for('main') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        </a>
    </header>
    <h1 id="style-title">{{ style_data['genre'] }}</h1>
    <main>
        <h1><span id="result"></span></h1>
        <div class="columnsss">
            <button id="restart"><img src="../static/images/update.png" width="100px"></button>
            <button id="playMusic"><img src="../static/images/play.jpg" width="100px"></button>
            <button id="solution"><img src="../static/images/solution.jpg" width="100px"></button>
        </div>

        <div class="columns">
            <div class="column light-green">
                <div class="grid-item">
                    <button class="img-button" data-index="1"><img id="cover1" alt="Album Cover 1"></button>
                </div>
                <div class="grid-item-track-name"><span id="track1"></div>
            </div>

            <div class="column light-green">
                <div class="grid-item">
                    <button class="img-button" data-index="2"><img id="cover2" alt="Album Cover 2"></button>
                </div>
                <div class="grid-item-track-name"><span id="track2"></div>
            </div>

            <div class="column light-green">
                <div class="grid-item">
                    <button class="img-button" data-index="3"><img id="cover3" alt="Album Cover 3"></button>
                </div>
                <div class="grid-item-track-name"><span id="track3"></div>
            </div>

            <div class="column light-green">
                <div class="grid-item">
                    <button class="img-button" data-index="4"><img id="cover4" alt="Album Cover 4"></button>
                </div>
                <div class="grid-item-track-name"><span id="track4"></div>
            </div>
        </div>
    </main>
</body>
</html>
