<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица с картинками</title>
    <link rel="stylesheet" href="../static/styles/test.css">
    <script src="../static/scripts/test.js"></script>

</head>
<body>
    <p>Первое случайное число: <span id="track1"></span></p>
    <h1>Таблица с картинками</h1>
    <table>
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
            <th>Заголовок 3</th>
        </tr>
        <tr>
            <td><img src="../static/cover/4.jpg" alt="Картинка 1"></td>
            <td><img id="" alt="Картинка 2"></td>
            <td><img id="cover1"></td>
        </tr>
        <tr>
            <td><img src="image4.jpg" alt="Картинка 4"></td>
            <td><img src="image5.jpg" alt="Картинка 5"></td>
            <td><img src="image6.jpg" alt="Картинка 6"></td>
        </tr>
    </table>
</body>
</html>
